:root{
--cor-fundo:#9E005D;
  --cor-destaque:#ED34A0;
  --cor-texto:#FFFFFF;
}

body{
  background-color: var(--cor-fundo);
  color:var(--cor-texto)
}

stong{
color: var(--cor-estaque);  
}

a{
  color: var(--cor-txto);
  font-size: 20px;
  text-decoration:nome;
  background-color: var(--cor-destaque);
  padding: 10px 15px;
  margin:10px;
  border-radius: 20px;
}